apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: consumer-rs
  labels:
    app: consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
      - name: consumer
        image: europe-west1-docker.pkg.dev/polytech-dijon/polytech-dijon/projet-consumer:makanga-pothieux
        imagePullPolicy: Always
        env:
        - name: REDIS_HOST
          value: "redis-replicaset"
        - name: RABBITMQ_HOST
          value: "rabbitmq-replicaset"
        resources:
          requests:
            cpu: "4m"
            memory: "32Mi"